<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.mapper.EmployeeMapper">

    <select id="queryEmployeeList" resultType="Employee" >
        select * from mybatis.employee;
    </select>

    <select id="queryEmployeeById" resultType="Employee">
        select * from mybatis.employee where id=#{id}
    </select>

    <select id="queryEmployeeByName" resultType="Employee">
        select * from mybatis.employee where Last_name=#{name}
    </select>

    <delete id="deleteEmployeeById" parameterType="integer">
        delete from mybatis.employee where id=#{id}
    </delete>

    <insert id="addEmployee" parameterType="employee" useGeneratedKeys="true" keyProperty="id" >
        insert into employee(last_name, password, gender, department, birth)
        values(#{lastName}, #{password}, #{gender}, #{department}, #{birth})
    </insert>

    <update id="updateEmployee" parameterType="employee">
        update employee set
            id=#{id}, last_name=#{lastName}, password=#{password},
            gender=#{gender}, department=#{department}, birth=#{birth}
        where id=#{id}
    </update>

    <insert id="addEmployeeMap" parameterType="java.util.Map" >
        insert into employee(last_name, password, gender, department) values
        <foreach collection="employMap.keys" item="k"  separator=",">
         (
            '${employMap[k].lastName}',
            '${employMap[k].password}',
            '${employMap[k].gender}',
            '${employMap[k].department}'
        )
        </foreach>
    </insert>

    <insert id="addEmployeeList" parameterType="java.util.ArrayList">
        insert into employee(last_name, password, gender, department) values
        <foreach collection="list" item="emp" index="index" separator=",">
            (
            #{emp.lastName},
            #{emp.password},
            #{emp.gender},
            #{emp.department},
            )
        </foreach>
    </insert>

</mapper>