<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- services -->

    <bean id="mysqlImpl" class="com.summer.dao.UserDaoMysqlImpl"/>
    <bean id="OracleImpl" class="com.summer.dao.UserDaoOracleImpl"/>

    <bean id="userServiceImpl" class="com.summer.service.UserServiceImpl">
        <property name="UserDao" ref="mysqlImpl"/>
    </bean>


</beans>